h1 { 
    text-align: center;color: #ffffff; background-color: #000000
}
h3 {
     color: #ffffff; Background-color: #000000
    }
.perfil { 
    position: relative;
    width: 170px; 
    height: 220.37px; 
    left: 780px
}
footer { 
     height: 37px; 
     left: 0px; 
     top: 987px; 
     text-align: center; 
    color:#FFFFFF ;  
    background-color: #000000
    }
body { 
     height: 1024px; 
    }
.icon {
    background-color: #000000; 
    color:#a78484
}
.pie-pagina { 
    display: inline-block
}
.foto {
     background-color: #e5e5e5; 
     position: center;
    }
header {
    background-image: url('recursos/hamburgesa.jpg');

}
.icon { color:#FFFFFF

}
button {
    position: absolute;
}