* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    width: 100%;
}

/* HEADER */

.header-barra-superior {
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: #1CD1B0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 18px;
/* identical to box height */
    color: #000000;
    padding: 10px;
}

.header-barra-inferior {
    left: 0px;
    top: 38px;
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    height: 47px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    line-height: 47px;
/* identical to box height */
    color: #000000;
    padding: 28px;
    padding-bottom: 26px;
}

/* MAIN */

.main-cards {
    width: 960px;
    height: 530px;
    left: 32px;
    top: 292px;
}

/* CARDS */

.card-container {
    height: 529px;
    top: 292px;
    display: inline-block;
    width: 300px;
    margin: 153px 32px 150px 32px;
}

.card-heart {
    Width: 300px;
    Height: 26.25px;
    display: inline;
    margin-top: 15.88px;
    margin-left: 21px;
}

.card-header-batman {
    width: 300px;
    height: 193px;
    left: 32px;
    top: 293px;
    background-image: url(/img/background-ciudad.png);
    border-radius: 16px 16px 0px 0px;
}

.card-main {
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
}

.card-header-harley {
    width: 300px;
    height: 193px;
    left: 32px;
    top: 293px;
    background-image: url(/img/background-colorido.png);
    border-radius: 16px 16px 0px 0px;
}

.card-profile-picture {
    width: 120px;
    height: 118px;
    position: relative;
    border-radius: 100%;
}

.card-text {
    width: 267px;
    height: 113px;
    left: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    position: relative;
    line-height: 19px;
    color: #333333;
}

/* FOOTER */

footer {
    width: 100%;
    height: 51px;
    left: 0px;
    top: 972px;
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-text {
    font-size: 16px;
    line-height: 19px;
/* identical to box height */
    text-align: center;
    color: #FFF9F9;
}